#map {


    height: 100vh;
}

.map-container{
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.journey-listing li{

    position: relative;

    .delete-form-row{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.journey-card li i.fa:before{
    margin-left: -1.5rem;
}
